.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.popup {
    background: #fff;
    border-radius: 5px;
    text-align: center;
    max-width: 500px;
    width: 90%;
}

.popup-image {
    max-width: 100%;
    height: auto;
}

.popup-text {
    font-size: 18px;
    margin-bottom: 20px;
}
.popup-text-box {
       padding: 10px 20px 20px 20px;
       display: grid;
         gap: 10px;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.popup-button-main {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    color: #fff;
    border-radius: 999px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    box-shadow: var(--shadow);
    background-color: #4c617f;
}

@media screen and (max-width: 450px) {
    .popup-button-main, .popup-button-secondary {
        padding: 30px 10px;
    }
    
}
.popup-button-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    color: #4c617f;
    border-radius: 999px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    box-shadow: var(--shadow);
    background-color: #ffffff;
}